{
  "processors": [
    "stylelint-processor-styled-components"
  ],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-airbnb",
    "stylelint-config-styled-components"
  ],
  "rules": {
    "number-leading-zero": "always",
    "declaration-block-single-line-max-declarations": null,
    "rule-empty-line-before": [
      "always",
      { ignore: ["after-comment", "first-nested"] },
    ],
  }
}